<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>startParticleSize</key>
    <integer>3</integer>
    <key>startParticleSizeVariance</key>
    <integer>24</integer>
    <key>finishParticleSize</key>
    <integer>30</integer>
    <key>finishParticleSizeVariance</key>
    <integer>18</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>150</integer>
    <key>maxRadius</key>
    <integer>60</integer>
    <key>maxRadiusVariance</key>
    <integer>60</integer>
    <key>minRadius</key>
    <integer>20</integer>
    <key>particleLifespan</key>
    <real>0.1</real>
    <key>particleLifespanVariance</key>
    <integer>2</integer>
    <key>rotatePerSecond</key>
    <integer>90</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <real>191.149994</real>
    <key>sourcePositiony</key>
    <real>217.410004</real>
    <key>speed</key>
    <integer>390</integer>
    <key>speedVariance</key>
    <integer>179</integer>
    <key>startColorAlpha</key>
    <real>0.470588</real>
    <key>startColorBlue</key>
    <real>0.917647</real>
    <key>startColorGreen</key>
    <real>0.101961</real>
    <key>startColorRed</key>
    <real>0.768627</real>
    <key>startColorVarianceAlpha</key>
    <real>0.003922</real>
    <key>startColorVarianceBlue</key>
    <real>0.32549</real>
    <key>startColorVarianceGreen</key>
    <real>0.415686</real>
    <key>startColorVarianceRed</key>
    <real>0.792157</real>
    <key>finishColorAlpha</key>
    <real>0.32549</real>
    <key>finishColorBlue</key>
    <real>0.933333</real>
    <key>finishColorGreen</key>
    <real>0.956863</real>
    <key>finishColorRed</key>
    <real>0.192157</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.388235</real>
    <key>finishColorVarianceBlue</key>
    <real>0.368627</real>
    <key>finishColorVarianceGreen</key>
    <real>0.811765</real>
    <key>finishColorVarianceRed</key>
    <real>0.831373</real>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>emitterType</key>
    <integer>1</integer>
    <key>textureFileName</key>
    <string>stargate.png</string>
    <key>emissionRate</key>
    <real>Infinity</real>
    <key>textureUuid</key>
    <string>63c31e72-6df3-415b-ade8-3bd0f0069187</string>
  </dict>
</plist>